*.xpm linguist-vendored
*.cub linguist-vendored
# this removes the excessive amount of line contributions when you add external files

# alternative: this also ignores the files
# *.xpm binary
# *.cub binary